body {
  text-align: center;
  background-color: oldlace;
  font-family: 'Amatic SC', cursive;
}

h1 {
  color: black;
  font-size: 90px;
  margin: 25px;
}

.graphic {
  border: 2px solid black;
  width: 280px;
  height: 200px;
  margin: auto;
  text-align: center;
}

.graphic-text {
  margin-top: 60px;
  color: red;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
}

.letter-guess {
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}

.guess-button {
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}

.answer {
  font-size: 70px;
  margin: 50px;
}

.letter-space {
  background-color: black;
}

.letter-holder {
  margin: 8px;
  border-bottom: 2px solid black;
  font-weight: bold;
  background-color: black;
}

.guesses {
  color: black;
  font-weight: bold;
  font-size: 70px;
  margin: 25px;
}

.reset-button {
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}
