body {
  text-align: center;
  background-color: oldlace;
}

h1 {
  color: black;
  font-size: 50px;
}

.graphic {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  margin: auto;
  text-align: center;
}

.graphic-text {
  margin-top: 85px;
  color: red;
  font-weight: bold;
  font-size: 30px;
}

.letter-guess {
  padding: 10px;
  font-size: 20px;
}

.guess-button {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.random-word-button {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.answer {
  font-size: 50px;
  margin: 50px;
}

.letter-space {
  background-color: black;
}

.letter-holder {
  margin: 8px;
  border-bottom: 2px solid black;
  font-weight: bold;
  background-color: black;
}

.guesses {
  color: black;
  font-weight: bold;
  font-size: 40px;
  margin: 25px;
}
